<script type="text/html" id="tmplGridControlsEdit">
    <div>
        <a href="{{editUrl}}/{{id}}" class="text-success" title="Edit"><i class="fa fa-edit"></i></a>
    </div>
</script>

<script type="text/html" id="tmplGridControlsCheckbox">
    <div>
        <input type="checkbox" class="{{selector}}" value="{{vale}}" {{checked}} />
    </div>
</script>
