@{
    ViewBag.Title = "Forgot Password";
    var callBackUrl = Url.Action("ResetPassword", "Account", new { area = "Admin", code = ViewBag.ResetToken }, protocol: Request.Url.Scheme);
}

<p>Hi there,<br />
    Follow this link to reset your password.</p>
<p><a href="@callBackUrl">Reset Password</a></p>
