@model DTS.HelpDesk.Areas.Admin.Models.ProfileViewModel
@{
    ViewBag.Title = "Create Account";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Titlse</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.Partial("_CreateOrEdit")
                }
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
