@{
    Layout = "~/Areas/Admin/Views/Shared/_BlankLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">DTS HelpDesk<br />Forgot Password Confirmation</h3>
            </div>
            <div class="panel-body">
                <p>
                    Please check your email to reset your password.
                </p>
                <p class="pull-right">
                    @Html.ActionLink("Login", "Login", new { controller = "Account", area = "Admin" }, new { @class = "btn"})
                </p>
            </div>
        </div>
    </div>
</div>